<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recommendations</title>
  <link rel="stylesheet" href="/static/recommendation.css" type="text/css">
</head>
<body>
  <h1>Similar Recipes</h1>
  <div class="container">
    <div class="recipe">
      <h3>Selected Recipe: {{ selected_recipe.Name }}</h3>
      <p><strong>Calories:</strong> {{ selected_recipe.Calories }}</p>
      <p><strong>Protein:</strong> {{ selected_recipe.ProteinContent }}</p>
      <p><strong>Fat:</strong> {{ selected_recipe.FatContent }}</p>
      <p><strong>Carbohydrates:</strong> {{ selected_recipe.CarbohydrateContent }}</p>
    </div>
    <h2>Recommended Recipes</h2>
    <div class="recipes-list">
      {% for recipe in recommendations %}
      <div class="recipe">
        <!-- Handle missing image URL -->
        <img src="{{ recipe.Images if recipe.Images else '/path/to/default/image.jpg' }}" alt="{{ recipe.Name }}">
        <h3>{{ recipe.Name }}</h3>
        <p><strong>Cook Time:</strong> {{ recipe['CookTime'] }}</p>
        <p><strong>Category:</strong> {{ recipe['RecipeCategory'] }}</p>
        
        <p><strong>Ingredients:</strong> 
          {% if recipe['RecipeIngredientParts'] %}
            <ul>
              {% for ingredient in recipe['RecipeIngredientParts'].split(',') %}
                <li>{{ ingredient.strip() }}</li>
              {% endfor %}
            </ul>
          {% else %}
            No ingredients available.
          {% endif %}
        </p>

        <p><strong>Quantities:</strong> {{ recipe['RecipeIngredientQuantities'] }}</p>
        <p><strong>Ratings:</strong> {{ recipe['AggregatedRating'] }}</p>
        <p><strong>Servings:</strong> {{ recipe['RecipeServings'] }}</p>
        <p><strong>Instructions:</strong> {{ recipe['RecipeInstructions'] }}</p>
        <p><strong>Calories:</strong> {{ recipe.Calories }}</p>
        <p><strong>Protein:</strong> {{ recipe.ProteinContent }}</p>
        <p><strong>Fat:</strong> {{ recipe.FatContent }}</p>
        <p><strong>Carbohydrates:</strong> {{ recipe.CarbohydrateContent }}</p>
      </div>
      {% endfor %}
    </div>
    <a class="back-btn" href="{{ url_for('home') }}">Back to Recipes</a>
  </div>
</body>
</html>
